<div class="container-fluid my-4">
    <div class="card text-center">
      <div class="card-header ">
  
      </div>
      <div class="card-body text-light " id="back">
       <div class="row">
          <div class="col-lg-3 text-start">
            <div>
              <a href=""><img src="../../../assets/logo01.png" class="img-thumbnail " alt=""></a>
            </div>
          </div>
          <div class="col-lg-3 text-lg-start my-4">
            <h2 class="text-info ">Links</h2>
            <div>
              <p><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">Home</a></p>
              <p><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">About us</a></p>
              <p><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">Galeria</a></p>
            </div>
          </div>
          <div class="col-lg-3 text-lg-start my-4">
            <h2 class="text-info ">Serviços</h2>
            <div>
              <p><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">Corte de Cabelo</a></p>
              <p><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">Penteado</a></p>
              <p><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">Unhas</a></p>
            </div>
          </div>
          <div class="col-lg-3 text-lg-start my-4">
            <h2 class="text-info ">Links 4</h2>
            <div>
              <p><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">Link hover opacity 75</a></p>
              <p><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">Link hover opacity 75</a></p>
              <p><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">Link hover opacity 75</a></p>
            </div>
          </div>
          
       </div>
      </div>
      <div class="card-footer text-body-secondary d-flex justify-content-center  gap-2">
        <a class="btn btn-outline-secondary " [routerLink]="['/']"><i class="bi bi-facebook"></i></a>
        <a class="btn btn-outline-secondary " [routerLink]="['/']"><i class="bi bi-twitter-x"></i></a>
        <a class="btn btn-outline-secondary " [routerLink]="['/']"><i class="bi bi-instagram"></i></a>
        <a class="btn btn-outline-secondary " [routerLink]="['/']"><i class="bi bi-whatsapp"></i></a>
        <a class="btn btn-outline-secondary " [routerLink]="['/']"><i class="bi bi-person"></i></a>
      </div>
    </div>
  </div>