

            <div class="container-fluid row flex-lg-row-reverse align-items-center g-5 py-5 h-100 bg-light">
              
              <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">KARAPINHA<span class="text-warning "> XPTO</span></h1>
                
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                  <button type="button" class="btn btn-dark btn-lg px-4 rounded-5 me-md-2">Agendar</button>
                  <a type="button" class="btn btn-outline-dark  rounded-5 btn-lg px-4" [routerLink]="['/login']" >Fazer login</a>
                </div>
                <div class=" my-2 d-grid gap-2 d-flex justify-content-md-start ">
                  <a type="button" class="btn btn-dark btn-lg  rounded-5 me-md-3"> <i class="bi bi-instagram"></i> </a>
                  <a type="button" class="btn btn-dark btn-lg  rounded-5 me-md-3"> <i class="bi bi-facebook"></i> </a>
                  <a type="button" class="btn btn-dark btn-lg  rounded-5 me-md-3"> <i class="bi bi-tiktok"></i> </a>
                  <a type="button" class="btn btn-dark btn-lg  rounded-5 me-md-3"> <i class="bi bi-github"></i> </a>
                </div>

              </div>
              <div class="col-10 col-sm-8 col-lg-6" >
                <img src="https://images.unsplash.com/photo-1659956956591-73af98b68fe8?q=80&w=1968&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block mx-lg-auto img-fluid rounded-2 " alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
            </div>

    