<div class="container my-5">
    <h1>Enviar Feedback</h1>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1"><i class="bi bi-at"></i></span>
      <input type="email" class="form-control" placeholder="Your Email" aria-label="Email" aria-describedby="basic-addon1">
    </div>
      
      <div class="input-group">
        <span class="input-group-text"><i class="bi bi-chat-dots"></i></span>
        <textarea class="form-control" placeholder="Your OPinion" aria-label="With textarea"></textarea>
      </div>
</div>